.navigation-container input {
    width: 70px;
    height: 40px;
    border: none;
    background: green;
    color: white;
    display: inline;
    cursor: pointer;
}

.navigation-container .position-left {
    float: left;
}

.navigation-container .position-right {
    float: right;
}

.disabled input {
    cursor: not-allowed !important;
}