.description-container {
    border: 2px solid black;
    display: inline-block;
    height: 330px;
    width: calc(30%);
    margin: 10px;
}

.description-container .header {
    height: 30px;
    padding: 5px;
    background-color: green;
    color: white;
}

.description-container .id {
    float: right;
}

.description-container .body img {
    display: block;
    margin: auto;
    height: 300px;
}